* {
  font-family: Verdana;
}

.hoofdletter {
  text-transform: capitalize;
}

.dataLijst {
  width: 50%;
  padding: 20px;
  margin: 10px;
}

.dataLijst li {
  padding: 4px 5px;
}

.dataLijst li:nth-child(even) {
  background-color: #dddddd;
}

.dataLijst li::after {
  content: "";
  background-color: #ffff;
  display: block;
  position: absolute;
  width: 50px;
  height: 15px;
  margin-top: 8px;
  margin-left: -6px;
}

#tekst {
  display: none;
}
